body {
    margin: 0;
    padding: 0px;
    background: #fdc9d1;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


  .step {
    opacity: 0;
    display: none;
    transition: opacity 1s ease;
  }

  .step.active {
    display: block;
    opacity: 1;
  }

  .input[type="text"] {
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    margin-bottom: 10px;
  }
  button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #e91e63;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    position: relative;
  }

  button:hover {
    background-color: #d81b60;
  }

  #mainDiv {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


#loveHeart {
    position: relative;
    width: 100vw;  /* Usa el ancho completo de la pantalla */
    height: 100vh; /* Usa el alto completo de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

canvas {
    display: block;
  }



#elapseClock {
    text-align: right;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px
}


#words {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    max-width: 350px;
    font-family: "sans-serif";
    font-size: clamp(16px, 2vw, 24px);
    color: #000000;
    
}
#nameInput {
    width: 80%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#nameSubmit {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
    margin-top: 10px;
    background-color: #e91e63;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background 0.3s;
    cursor: pointer;
    position: relative;
    
}
/* Ajustes para pantallas pequeñas */





#messages {
    display: none
}

#elapseClock .digit {
    font-family: "digit";
    font-size: 36px
}

#loveu {
    padding: 5px;
    font-size: 22px;
    margin-top: 80px;
    margin-right: 120px;
    text-align: right;
    display: none
}

#loveu .signature {
    margin-top: 10px;
    font-size: 20px;
}

#clickSound {
    display: none
}


#code .string {
    color: #2a36ff
}

#code .keyword {
    color: #7f0055;
    font-weight: bold
}

#code .placeholder {
    margin-left: 15px
}

#code .space {
    margin-left: 7px
}

#code .comments {
    color: #3f7f5f
}

#copyright {
    margin-top: 40px;
    text-align: center;
    width: 100%;
    color: #666
}

#errorMsg {
    width: 100%;
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 100px;
    left: 0
}

#heart {
    position: absolute;
    width: 50vw; /* Ajuste dinámico según el ancho de la pantalla */
    height: 50vw;
    max-width: 500px;
    max-height: 500px;
    background: #ff4757;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #ff4757;
    animation: animate 0.6s linear infinite;
}

@keyframes animate{
    0% {
        transform: rotate(-45deg) scale(1.07);
    }
    80% {
        transform: rotate(-45deg) scale(1.0);
    }
    100% {
        transform: rotate(-45deg) scale(0.8);
    }
}

#heart::before,
#heart::after {
    content: '';
    max-width: 500px;
    max-height: 500px;
    position: absolute;
    width: 50vw;
    height: 50vw;
    background: #ff4757;
    border-radius: 50%;
}


#heart::before {
    max-width: 500px;
    max-height: 500px;
    top: -50%;
    left: 0;
    box-shadow: -10px -10px 90px #ff4757;
}

#heart::after {
    max-width: 500px;
    max-height: 500px;
    right: -50%;
    top: 0;
    box-shadow: 10px 10px 90px #ff4757;
}